<?xml version='1.0' encoding='utf-8'?>
<widget id="com.creaxid.appvisas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>App Visas</name>
    <description>
        Genera tu Visa de forma rápida.
    </description>
    <author email="diseno@creaxid.com.mx" href="http://phonegap.com">
        Creaxid
    </author>
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="26" />
    <icon gap:role="default" src="app-images/appicon.png" />
    <icon height="96" src="app-images/icon_96.png" width="96" />
    <icon height="72" src="app-images/icon_72.png" width="72" />
    <icon height="48" src="app-images/icon_48.png" width="48" />
    <icon height="36" src="app-images/icon_36.png" width="36" />
    <gap:splash src="app-images/splash.png" />
    <splash src="app-images/splash.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="phonegap-version" value="cli-8.0.0" />
</widget>
