body{font-family: 'Roboto', sans-serif;}
        a{text-decoration: none;}
        img{max-width: 100%;}
        .ui-header .ui-title, .ui-footer .ui-title{ margin: .2em 12% .8em;}
        .ui-bar-a{border: 0px; background: transparent;}
        .ui-li-heading, .ui-li-desc{ margin: .2em 0;}
        .ui-btn-up-b{background: rgba(4,42,120, 0.7);}
        .soporte{margin: 0 auto; width: 80%; background: rgba(4,42,120, 0.8); padding:40px 14px; border-radius:25px}
        .soporte .ui-corner-all{ border-radius:0;}
        .soporte label{color:#fff; text-shadow: none; text-transform: uppercase;}
        .soporte label small{color:#fff; text-shadow: none; text-transform: none;}
        .delogin{background: #0517b5 url(images/fondo.jpg) no-repeat center center fixed; -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
        .domicilio{background: #0517b5 url(images/fondo.jpg) no-repeat center center fixed; -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
        .logo{width: 225px; margin: 0 auto; margin-top: 20px; margin-bottom: 20px;}
     input[type="checkbox"]{ float: left; padding: 10px; } 
        .terminos .ui-btn-up-d, .terminos .ui-btn-hover-d{background: none; border: 0px; font-weight: normal; box-shadow: none;}
        
        .submit .ui-btn{background: #e69f22; color: #fff; text-decoration: none; padding: 13px; border-radius:10px;}
        
.menu {background: #0517b5 url(images/fondo-menu.jpg) no-repeat center center fixed; -webkit-background-size: cover;}
        
        .menu a{color: #fff; text-shadow: 0px 3px 2px #000; text-align: center; padding: 20px 22px; display: block; font-size: 1.2em; line-height: 1.2em; background: url(images/boton-menu.png) repeat-x center center; height: 70px; display: flex;
   justify-content: center; align-items: center; border-radius:18px; box-shadow: 0px 2px 7px #333, 0px 6px 6px inset #fbecb8, 0px -2px 1px inset #fff; margin-left: 6px; margin-right: 6px; } 
        
       .citavisa{background: #0517b5 url(images/fondo.jpg) no-repeat center center fixed; -webkit-background-size: cover; 
-moz-background-size: cover; -o-background-size: cover; background-size: cover;} 
        .oficinas{background: #0517b5 url(images/fondo-domicilio.jpg) no-repeat center center fixed; -webkit-background-size: cover; 
-moz-background-size: cover; -o-background-size: cover; background-size: cover;}
        .tituleando{ text-align: center; color: #fbde69; text-shadow: none; font-weight: normal; font-style: italic; padding: 8px 12px;
background: -moz-linear-gradient(left,  rgba(4,42,120,0.1) 0%, rgba(4,42,120,1) 11%, rgba(4,42,120,1) 40%, rgba(4,42,120,1) 78%, rgba(4,42,120,0.1) 100%);
background: -webkit-linear-gradient(left,  rgba(4,42,120,0.1) 0%,rgba(4,42,120,1) 11%,rgba(4,42,120,1) 40%,rgba(4,42,120,1) 78%,rgba(4,42,120,0.1) 100%);
background: linear-gradient(to right,  rgba(4,42,120,0.1) 0%,rgba(4,42,120,1) 11%,rgba(4,42,120,1) 40%,rgba(4,42,120,1) 78%,rgba(4,42,120,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a042a78', endColorstr='#1a042a78',GradientType=1 ); /* IE6-9 */}
        .deback img{max-width: 32px; margin-top: 15px;}
        .bole{padding: 15px; background: rgba(250, 250, 250,0.7);}
        .ui-listview-inset .ui-li{margin-bottom: 5px; border: 0px;}
        
        .ui-listview > .ui-li.ui-first-child, .ui-listview > .ui-li.ui-last-child{border-radius:0px;}
        
        .listadon a{color: #ffc; text-align: right; display: block; float: right; }
        .listadon .fa{text-align: right; clear: both;}
        
        .nota{color: #fc0; text-shadow: 0px 4px 10px #000 !important; text-align: center; padding: 0 40px; margin-top: 0px;}
        
        .nota h4{ text-shadow:#000; line-height: 1.8em; font-style: italic;}
        .headeralto{position: absolute; z-index: 99999999;}
       
        .hedeando{ position:absolute; z-index:999999999; top:0;}   
.video-background {
  background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
   -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  z-index: 9999999;
}
             
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  /*pointer-events: none;*/
z-index: 99;
}
#gkHeader {
position: relative;
background: transparent!important;
}    